//font

$font-main: "Jost", sans-serif;
$font-secondary: "Poppins", sans-serif;

//color

$white: #fff;
$dark: #000;
$dark-gray: #2F2F2F;
$jet-black: #070707;
$dark-gray: #585454; 
$light-gray: #B2B2B2;
$silver-gray: #C8C8C8;

$bg-dark: #000;
$bg-light-gray: #E2E6EE;
$light-purple: #E2E6EE;
$bg-light-white: #F9FAFC;
$bg-md-dark: #070707;
$yellow-bg: #FFD400;